<a href="https://colab.research.google.com/github/vlasova-us/Python_public/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BA_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8_%C2%AB%D0%9F%D1%80%D0%BE%D0%B4%D0%B2%D0%B8%D0%BD%D1%83%D1%82%D1%8B%D0%B9_pandas%C2%BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание 1**

Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;

для источников paid и email из России ставим ad;

для источников paid и email не из России ставим other;

все остальные варианты берём из traffic_source без изменений.

In [ ]:
import pandas as pd
table = pd.read_csv ('/content/drive/MyDrive/Data/visit_log.csv', sep = ';')

def traffic (row):
 ''' Правила заполнения столбца source_type:
- если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
- для источников paid и email из России ставим ad;
- для источников paid и email не из России ставим other;
- все остальные варианты берём из traffic_source без изменений. '''
 
 if ('yandex' in row ['traffic_source']) or ('google' in row ['traffic_source']):
  return 'organic'

 if ('paid' in row ['traffic_source'] and 'Russia' in row ['region']) or ('email' in row ['traffic_source'] and 'Russia' in row ['region']):
  return 'ad'

 if ('paid' in row ['traffic_source'] and 'Russia' not in row ['region']) or ('email' in row ['traffic_source'] and 'Russia' not in row ['region']):
  return 'other'

 return row ['traffic_source']
  
table ['source_type'] = table.apply (traffic, axis = 1)
table.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

**Задание 2**

В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [ ]:
table_news = pd.read_csv ('/content/drive/MyDrive/Data/URLs.txt', sep = ';')

table_news[table_news['url'].str.contains ('/\d{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

**Задание 3**

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [ ]:
average_time_living = pd.read_csv ('/content/drive/MyDrive/Data/ml-latest-small/ratings.csv', sep = ',')

def max_min(column):
 '''В функцию подается столбец timestamp, сгруппированный по UserId, для вычисления разницы между максимальным и минимальным значением по столбцу timestsmp для данного UserId'''
 return column.max() - column.min() 

average_time_living.groupby('userId').agg(['count', max_min])['timestamp'].query('count >100').mean().head()

count      3.119651e+02
max_min    4.008051e+07
dtype: float64

**Задание 4**
Дана статистика услуг перевозок клиентов компании по типам.
Нужно сформировать две таблицы:

- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
- аналогичную таблицу по типам выручки с указанием адреса клиента.

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [ ]:
# таблица с тремя типами выручки для каждого client_id без указания адреса клиента

table_concat = pd.concat([rzd, auto, air], axis=0).groupby('client_id').sum().head(10)
table_concat

           rzd_revenue  auto_revenue  air_revenue
client_id
111             1093.0           0.0          0.0
112             2810.0           0.0          0.0
113            10283.0       57483.0          0.0
114             5774.0          83.0          0.0
115              981.0         912.0         81.0
116                0.0        4834.0          4.0
117                0.0          98.0         13.0
118                0.0           0.0        173.0

In [ ]:
# аналогичная таблица по типам выручки с указанием адреса клиента.
revenue_adress_table = table_concat.merge (client_base, on = 'client_id', how = 'left')
revenue_adress_table

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4